<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista Dados</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">

<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col"> #</th>
			<th scope="col"> Nome Local</th>
			<th scope="col"> Avaliacao Media</th>
			<th scope="col"> Categoria</th>
			<th scope="col"> Latitude</th>
			<th scope="col"> Longitude</th>
			<th scope="col"> logradouro</th>
			<th scope="col"> numero</th>
			<th scope="col"> complemento</th>
			<th scope="col"> estado</th>
			<th scope="col"> cidade</th>
			<th scope="col"> CEP</th>
			<th scope="col"> site</th>
			<th scope="col"> Telefone do local</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="cat : ${listaDados}">
			<td th:text="${cat.codLocalidade}"> </td>
			<td th:text="${cat.nomeLocal}"> </td>
			<td th:text="${cat.avaliacaoMedia}"> </td>
			<td th:text="${cat.categoria}"> </td>
			<td th:text="${cat.latitude}"> </td>
			<td th:text="${cat.longitude}"> </td>
			<td th:text="${cat.logradouro}"> </td>
			<td th:text="${cat.numero}"> </td>
			<td th:text="${cat.complemento}"> </td>
			<td th:text="${cat.estado}"> </td>
			<td th:text="${cat.cidade}"> </td>
			<td th:text="${cat.CEP}"> </td>
			<td th:text="${cat.site}"> </td>
			<td th:text="${cat.telefoneLocal}"> </td>
	</tr>
	</tbody>
	
</table>

</div>
</body>
</html>